@page
@model IndexModel
<h1>Welcome</h1>
<h2>Counter: @Model.Counter</h2>
<form asp-page="/Index" method="post">
    <button>Count</button>
</form>

<h2>Aplikacja demonstracyjna Sim Web</h2>
<p>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</p>
<p>Mapa typu BigBounceMap.</p>
<p>Sekwencja ruchów: lrududuldrllludlrlld</p>